<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/navbar.css">
  <link rel="stylesheet" href="/css/upload.css"> <!-- Link to the enhanced CSS file -->

  <title>Upload</title>
</head>
<body>
  <nav>
    <h1 class="nav-title">File Upload</h1>
  </nav>
  <div class="container">
    <% if (locals.name != null) { %>
    <div class="welcome-message">
      Welcome <span><%= locals.name %>!</span>
      <form action="/logout" method="POST" class="logout-form" enctype="multipart/form-data">
        <button class="logout-button" type="submit">Logout</button>
      </form>
    </div>
    <% } %>
    <h1 class="upload-title">Upload File</h1>
    <form
      action="/upload"
      method="POST"
      class="upload-form"
      enctype="multipart/form-data"
    >
      <label for="file">File:</label>
      <input type="file" id="file" name="file" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button class="share-button" type="submit">Share</button>
    </form>
    <% if (locals.fileLink != null) { %>
    <div class="file-link">
      Your file is uploaded: <a href="<%= locals.fileLink %> "><%= locals.fileLink %></a>
    </div>
    <% } %> <% if (locals.data != null) { %>
    <div class="uploaded-files">
      <h1>Your uploaded files</h1>
      <div class="file-list">
        <% locals.data.forEach(function(elem) { %>
        <div class="file-item">
          <form action="/delete" method="POST" class="delete-form" enctype="application/json">
            <p class="file-name"><%= elem.originalName %></p>
            <a class="file-id" href="/file/<%= elem.id %>"><%= locals.headers %>/file/<%= elem.id %></a>
            <!-- <button class="delete-button" type="submit">Delete</button> -->
          </form>
        </div>
        <% }); %>
      </div>
    </div>
    <% } %>
  </div>
</body>
</html>
